.app p {
  text-align:left;
  margin:0;
  margin-bottom:0.5em;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

.available-choices button {
  display:block;
  padding:0.6em;
  background-color:#FF5627;
  border:1px solid #D84511;
  color:white;
  font-size:14px;
  margin-bottom:0.5em;
  width:100%;
  text-align:left;
  border-radius:3px;
}

.rankings li {
  margin-bottom:0.5em;
}

.rankings li, .dragging-choice {
  list-style:none;
  background-color:white;
  padding:0.6em;
  border:1px solid #D8D8D8;
  border-radius:3px;
}
