.available-choices button {
  display:block;
  padding:0.6em;
  background-color:#FF5627;
  border:1px solid #D84511;
  color:white;
  font-size:14px;
  margin-bottom:0.5em;
  width:100%;
  text-align:left;
  border-radius:3px;
}

.rankings li {
  margin-bottom:0.5em;
}

.rankings li, .dragging-choice {
  list-style:none;
  background-color:white;
  padding:0.6em;
  border:1px solid #D8D8D8;
  border-radius:3px;
}

.poll .divider {
  text-align:center;
}

.poll .viewResults {
  display:block;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
