/* alegreya-regular - latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/alegreya-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Regular'), local('Alegreya-Regular'),
    url('/assets/fonts/alegreya-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/alegreya-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/alegreya-v13-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}
/* alegreya-italic - latin */
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/alegreya-v13-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Italic'), local('Alegreya-Italic'),
    url('/assets/fonts/alegreya-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/alegreya-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/alegreya-v13-latin-italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}
/* alegreya-500 - latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/alegreya-v13-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Medium'), local('Alegreya-Medium'),
    url('/assets/fonts/alegreya-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/alegreya-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/alegreya-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/alegreya-v13-latin-500.svg#Alegreya') format('svg'); /* Legacy iOS */
}

body, html {
    margin:0;
    font-family: 'Alegreya',Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size:14px;
    font-weight:100;
    background-color:#5B1547;
    background-image:url('/assets/img/background.jpg');
    background-repeat:repeat;
    color: #1d1d1f;
    width:100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#root {
  width:100%;
  justify-content:center;
  align-items:center;
}

.app {
  max-width:380px;
  width:100%;
  position:relative;
  margin:50px auto;

  background-color:#F1F1F4;
  background-image:url('/img/footer.svg');
  background-position:left 2px bottom -1px;
  padding:10px 12px;
  padding-bottom:110px;
  background-repeat:repeat-x;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
  border-radius:3px;
}

.app header {
  display:block;
  text-align:center;
  color:white;
  margin:0;
}

.app footer {
  position:absolute;
  bottom:-2em;
  left:50%;
  transform:translateX(-50%);
}

.app footer a {
  background-color:rgba(255,255,255,0.8);
  padding:0.1em 0.2em;
  text-decoration:none;
  color:inherit;
  border-radius:3px;
}

.app h1 {
  text-align:center;
  padding-top:0.2em;
  color:#5B1547;
  font-size:24px;
  margin:0;
}

.app h2 {
  margin-bottom:0.5em;
}

.app p {
  margin:0.5em 1.5em;
  margin-top:0;
  text-align:center;
  font-size:16px;
  line-height:1.2em;
}

.app label {
  display:block;
  color:#8A8A8A;
  font-size:14px;
  padding-top:0.5em;
}

.app input, .app textarea, .app button.submit {
  border-radius:3px;
  border:1px solid #D8D8D8;
  font-size:14px;
  padding:0.6em;
  width:calc(100% - 1em - 2px);
  color:#1d1d1d;
}

.app input:focus, textarea:focus {
  outline:none;
  border:1px solid #FFC400;
}

.app input[type="submit"], .app button.submit {
  background-color:#FF5627;
  border:1px solid #D84511;
  color:white;
  width:100%;
  margin-top:0.5em;
}

.app input[type="submit"]:disabled, .app button.submit:disabled {
  color:rgba(255,255,255,0.6);
  background-color:#999;
  border:1px solid #888;
}

.app textarea {
  resize: vertical;
}

@media all and (max-width:430px) {
  body, html, #root {
    background-color:transparent;
    height:100%;
  }

  .app {
    border-radius:0;
    transform:none;
    left:0;
    top:0;
    min-height:calc(100% - 120px);
    padding-top:10px;
    max-width:calc(100% - 24px);
    max-width:calc(100% - 24px);
    margin-top:0;
  }

  .app footer {
    bottom:0.2em;
  }
}
